@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  section {
    @apply px-4 md:min-h-screen md:px-20;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}
